{% extends 'admin/layout.html' %}
{% block categories %}
    <a href="{{ url_for('admin.admin_job_categories') }}" class="admin-nav-item active"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Job
    Categories</a>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="content">
            <h5 class="bg-teal-lgrad text-light p-3 my-3">Job Categories</h5>
            <div class=" my-3">     
                <div class="bg-c-white p-3 mb-2 d-flex align-items-center">
                    <p class="m-0">Top <b>Categories</b></p>
                    <a href="{{ url_for('admin.admin_jobs') }}" class="btn btn-sm prim btn-brand text-light ms-auto"> See All Jobs</a>
                </div>              
                <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1 g-2">
                    {% if categories %}
                        {% for category in categories %}
                            <div class="col">
                                <a href="{{ url_for('admin.admin_filtered_jobs', category=category) }}" class="admin-card category-card">
                                    <p class="h6"><i class="fa fa-tags me-2 t-prim"></i> {{category}}</p>
                                    <div class="category-img-box">
                                        <div class ="image-box my-3">
                                            <img class="rounded-circle" src="{{url_for('static', filename='img/job_search.png')}}" alt="">
                                        </div>
                                        
                                        <div class ="views">
                                            <p class="h5 m-0 p-0">{{ jobs.filter_by(category=category).all() | length
                                            }}</p>
                                            <small class="text-muted p-0 m-0" >Total Jobs</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No available Job Categories</p>
                    {% endif %}
                </div>
                {% if pages.total > pages.per_page %}
                    {% for page_num in pages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if pages.page == page_num %}
                                <a href="{{ url_for('admin.admin_job_categories', page=page_num) }}" class="btn btn-sm btn-primary my-3">{{ page_num }}</a>
                            {% else %}
                                <a href="{{ url_for('admin.admin_job_categories', page=page_num) }}" class="btn btn-sm btn-outline-primary my-3">{{ page_num }}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}{% endblock %}