{% extends 'admin/layout.html' %}


{% block container %}

    <div class="">
        <div class="bg-teal-lgrad text-center">
            <h3 class="py-4 m-0">Admin Dashboard</h3>
            <p>
                {{ email }}
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum assumenda quos fugiat, libero magnam aliquid quia consectetur. Ab, assumenda.
            </p>
            <div class="profile-img-ctn">
                <img src="{{ image }}" alt="">
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}{% endblock %}