{% extends 'admin/layout.html' %}
{% block dashboard %}
    <a href="{{ url_for('admin.admin_account') }}" class="admin-nav-item active"><i class="fa fa-rocket" aria-hidden="true"></i> Dashboard</a>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="content">
            <h5 class="bg-teal-lgrad text-light p-3 my-3">Dashboard</h5>
            <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-2">
                <div class="col">
                    <a href="{{ url_for('admin.admin_job_categories') }}" class="admin-card">
                        <div class ="views">
                            <div class ="no">{{ dash.get('categories')}}</div>
                            <div class ="name">Job Categories</div>
                        </div>
                        <div class ="icon-box">
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="{{ url_for('admin.admin_companies') }}" class="admin-card">
                        <div class ="views">
                            <div class ="no">{{ dash.get('employers')}}</div>
                            <div class ="name">Employers</div>
                        </div>
                        <div class ="icon-box">
                            <i class="fa fa-building-o" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="{{ url_for('admin.admin_applicants') }}" class="admin-card">
                        <div class ="views">
                            <div class ="no">{{ dash.get('applicants')}}</div>
                            <div class ="name">Applicants</div>
                        </div>
                        <div class ="icon-box">
                            <i class="fa fa-group" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="{{ url_for('admin.admin_jobs') }}" class="admin-card">
                        <div class ="views">
                            <div class ="no">{{ dash.get('jobs')}}</div>
                            <div class ="name">Total Jobs</div>
                        </div>
                        <div class ="icon-box">
                            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="{{ url_for('admin.admin_jobs_applied') }}" class="admin-card">
                        <div class ="views">
                            <div class ="no">{{ dash.get('jobs_applied')}}</div>
                            <div class ="name">Jobs Applied</div>
                        </div>
                        <div class ="icon-box">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}{% endblock %}