{% extends 'admin/layout.html' %}
{% block settings %}
    <a href="{{ url_for('admin.admin_settings') }}" class="admin-nav-item active"><i class="fa fa-wrench reflect-px"
    aria-hidden="true"></i> Settings</a>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="content">
            <h5 class="bg-teal-lgrad text-light p-3 my-3">Add Admin</h5>
            <div class=" ">
                <div class="form-ctn-100 mx-auto mb-3 bg-c-white">
                    <form class="p-3" method="POST" action="">
                        <!-- cross site request forgery token -->
                        {{form.hidden_tag()}}
                        <div class="h-hr">
                            <h2 class="h">New Admin</h2>
                            <span class="hr"></span>
                        </div>
                        <div class="row row-cols-md-2 row-cols-1">
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.name.errors %}
                                        {{form.name(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.name.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.name(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.name.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.email.errors %}
                                        {{form.email(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.email(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.email.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.phone.errors %}
                                        {{form.phone(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.phone.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.phone(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.phone.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn pwrd-field">
                                    <!-- input validation -->
                                    {% if form.password.errors %}
                                        {{form.password(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.password(class="form-control")}}
                                    {% endif %}
                                    <div id="pwd-info"></div>
                                    <!-- input label -->
                                    {{form.password.label(class="form-control-label")}}
                                    <span class="pwd-vissibility px-3" onclick="togglePasswd(this, `.pwrd-field input`)">
                                        <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <!-- submit button  -->
                            {{form.submit(class="btn btn-brand prim text-light d-inline px-4")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}
    <script>
        checkPwd()
    </script>
{% endblock %}