{% extends 'admin/layout.html' %}
{% block settings %}
    <a href="{{ url_for('admin.admin_settings') }}" class="admin-nav-item active"><i class="fa fa-wrench reflect-px"
    aria-hidden="true"></i> Settings</a>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="content">
            <h5 class="bg-teal-lgrad text-light p-3 my-3">Admin Informaton</h5>
            <div class=" ">
                <div class="img-box bg-c-white p-3">
                    <div class="d-flex align-items-center">

                    <!-- Image removal confirmation modal -->
                    <div class="modal fade" id="remove-pic" tabindex="-1" aria-labelledby="" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content bg-c-white t-dark">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="">Delete Image?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form action="{{ url_for('admin.delete_image', admin_id=user.id) }}" method="post">
                                        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="d-flex pt-2 align-items-center">
                            <div class="profile-img-ctn">
                                <img src="{{ url_for('static', filename='admin/image/' + user.image) }}" alt="">
                            </div>
                            <div class="ms-2">
                                <p class="text-bold m-0">{{ user.name }}</p>
                                {% if user.image != 'anony.png' %}
                                    <button class="btn btn-sm btn-outline-secondary px-2 p-0 " data-bs-toggle="modal" data-bs-target="#remove-pic" >Remove</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                </div>    
                <div class="form-ctn-100 mx-auto mb-3 bg-c-white">
                    <form class="px-3 py-4" method='POST' action="" enctype="multipart/form-data">
                        <!-- cross site request forgery token -->
                        {{form.hidden_tag()}}
                        <div class="h-hr">
                            <h2 class="h">Update Information</h2>
                            <span class="hr"></span>
                        </div>
                        <div class="row row-cols-md-2 row-cols-1">
                            
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.name.errors %}
                                        {{form.name(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.name.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.name(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.name.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.email.errors %}
                                        {{form.email(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.email(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.email.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.phone.errors %}
                                        {{form.phone(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.phone.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.phone(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.phone.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group form-file-group">
                                <div class="field-ctn">
                                    <!-- image file field -->
                                    {{form.image.label(class="form-label")}}
                                    {{form.image(class="form-control form-control-sm")}}
                                    {% if form.image.errors %}
                                        {% for error in form.image.errors %}
                                            <span class="text-danger">{{error}}</span><br>
                                        {% endfor %}
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <!-- submit button  -->
                            {{form.submit(class="btn btn-brand prim text-light d-inline px-4")}}
                        </div>
                    </form>
                </div>
                <div class="p-3 my-3 bg-c-white">
                    <div class="h-hr">
                        <h2 class="h">Other Admin Users</h2>
                        <span class="hr"></span>
                    </div>
                    <div class="bg-c-lighter my-3 p-3 d-flex">
                        <h4 class="m-0">Manage <b>Admin</b> </h4>
                        <a href="{{ url_for('admin.admin_add') }}" class="btn btn-sm btn-success ms-auto" >Add new Admin</a>
                    </div>

                    <table class="table table-hover bg-c-lighter t-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                        {% for admin in admins %}
                            {% if not admin == user %}
                                <tr>
                                    <td>{{ admin.id }}</td>
                                    <td>{{ admin.name }}</td>
                                    <td>{{ admin.user.email }}</td>
                                    <td>{{ admin.phone }}</td>
                                    <td>
                                        <a href="{{ url_for('admin.admin_update', admin_id=admin.id) }}" class="btn btn-sm btn-warning"> <i class="fa fa-pencil"></i> </a>
                                        <a href="" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#remove-admin{{admin.id}}"> <i class="fa fa-trash"></i> </a>
                                    </td>
                                </tr>
                                <div class="modal fade" id="remove-admin{{admin.id}}" tabindex="-1" aria-labelledby="" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content bg-c-white t-dark">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="">Remove Admin?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <form action="{{ url_for('admin.admin_remove', admin_id=admin.id) }}" method="post">
                                                    <input type="submit" class="btn btn-sm btn-danger" value="Remove">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}{% endblock %}