{% extends 'base.html' %}

{% block logged_applicant %}
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.home')}}">Account</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('jobs.job_list')}}">Jobs</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('applicant.jobs_applied')}}">Jobs Applied</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2 active" href="{{url_for('employer.company_list')}}">Companies</a>
    </li>
{% endblock %}
                          
{% block logged_out %}
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.home')}}">Home</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('jobs.job_list')}}">Jobs</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2 active" href="{{url_for('employer.company_list')}}">Companies</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.about')}}">About Us</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link ps-sm-auto ps-2 dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Login</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{url_for('employer.employer_login')}}">Employer</a></li>
            <li><a class="dropdown-item" href="{{url_for('applicant.applicant_login')}}">Applicant</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{url_for('admin.admin_login')}}">Admin</a></li>
        </ul>
    </li>
{% endblock %}

{% block container %}

<section id=" " class="">
    <div class="container-fluid bg-teal-lgrad text-light text-center py-3">
        <h2 class="">Search Companies</h2>
        <div class="d-flex py-3">
            <div class="mx-auto text-light bg-secondary px-4 py-3">
                <form class="my-2 search-form">
                    <input type="text" placeholder="Name or Location" class="d-block d-sm-inline my-2" required>
                    <button type="submit" class="btn btn-sm btn-brand peach text-light px-3 d-block d-sm-inline ms-sm-1"> <i class="fa fa-search"></i> Search </button>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="companies" class="bg-light py-5">
    <div class="container">
        <div class="section-header">
            <h2 class=" ">List of Companies </h2>
        </div>
        
        <div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 row-cols-1 g-2">
            <div class="col">
                <div class="bg-white d-flex p-3">
                    <div>
                        <a href="" class="profile-img-ctn">
                            <img class="" src="{{url_for('static', filename='img/job_search.png')}}" alt="">
                        </a>
                    </div>
                    <div class="ms-3 ">
                        <a href="" class="m-0 h5 text-dark text-bold">Company Name</a>
                        <p class="text-muted"><i class="fa fa-map-marker t-prim"></i> location</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit...
                        </p>
                        <a href="" class="btn btn-sm btn-brand prim text-light">Learn More</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="my-3">
            <a href="" class="btn btn-sm btn-outline-primary">1</a>
            ...
            <a href="" class="btn btn-sm btn-primary">2</a>
        </div>
    </div>
</section>

{% endblock %}
{% block script %}{% endblock %}