{% extends 'base.html' %}

{% block logged_employer %}
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.home')}}">Account</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('employer.posted_jobs')}}">Your Jobs</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2 active" href="{{url_for('employer.applicants')}}">Applicants</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('employer.post_jobs')}}">Add Jobs</a>
    </li>
{% endblock %} 

{% block container %}

    <section class="py-3 bg-light min-vh">
        <div class="container ">
            <h3 class="text-light bg-teal-lgrad my-3 p-3">Shortlist <i class="fa fa-pencil" aria-hidden="true"></i></h3>
            <div class="row row-cols-1 g-2">
                <div class="col">
                    <div class="bg-white p-3 border">
                        <div class="d-sm-flex d-block align-items-center">
                            <h3>Listed Applicants: <span class="text-muted">{{ applicants.total }}</span></h3>
                            <a href="{{ url_for('employer.post_jobs') }}" class="btn btn-sm ms-auto btn-outline-success">Add Jobs <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        {% for user, job in applicants.items %}

                            <!-- Image removal confirmation modal -->
                            <div class="modal fade" id="unlist-applicant{{user.id}}" tabindex="-1" aria-labelledby="" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content bg-c-white t-dark">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="">Remove Applicant from List?</h6>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <form action="{{ url_for('employer.unlist_applicant', job_id=job.id, applicant_id=user.id) }}" method="post">
                                                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex rad-3 border my-3 p-3">
                                <div class="prof-update">
                                    <div class="d-flex">
                                        <div class="profile-img-ctn prof-sm">
                                            <img src="{{ url_for('static', filename='applicant/image/' + user.image) }}" alt="">
                                        </div>
                                        <div class="ms-2">
                                            <p class="m-0 text-bold">{{ user.l_name }} {{ user.f_name }}</p>
                                            <p class="m-0 text-muted">
                                                <a href="mailto:{{ user.user.email }}" target="_blank" class="text-dark text-muted"><i class="fa fa-envelope-o t-prim"></i> {{ user.user.email }}</a>
                                            </p>
                                            <p class="text-muted">
                                                <a href="tel:{{ user.phone }}" target="_blank" class="text-dark text-muted"><i class="fa fa-phone t-prim"></i> {{ user.phone }}</a>
                                            </p>
                                            <p class="">
                                                Listed for 
                                                <a href="{{ url_for('employer.job_details', job_id=job.id) }}" class=""> 
                                                    {{ job.title }}
                                                    <i class="fa fa-check-square-o"></i>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="ms-auto d-flex flex-column align-items-center">
                                    <a class="paper  text-dark " href="{{ url_for('static', filename='applicant/resume/' + user.resume) }}" target="_blank">
                                        <img src="{{ url_for('static', filename='img/paper.png') }}">
                                    </a>
                                    <p class="text-center m-0"><small>Resume</small></p> 
                                    <button class="btn btn-sm btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#unlist-applicant{{user.id}}" >Remove <i class="fa fa-trash"></i></button>
                                </div>
                                
                            </div>
                        {% endfor %}
                        {% if applicants.total > applicants.per_page %}
                            {% for page_num in applicants.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                {% if page_num %}
                                    {% if applicants.page == page_num %}
                                        <a href="{{ url_for('employer.listed_applicants', page=page_num) }}" class="btn btn-sm btn-primary my-3">{{ page_num }}</a>
                                    {% else %}
                                        <a href="{{ url_for('employer.listed_applicants', page=page_num) }}" class="btn btn-sm btn-outline-primary my-3">{{ page_num }}</a>
                                    {% endif %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>  
            </div>
           
        </div>
    </section>

{% endblock %}
{% block script %}{% endblock %}