{% extends 'base.html' %}

{% block logged_out %}
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.home')}}">Home</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('jobs.job_list')}}">Jobs</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('employer.company_list')}}">Companies</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.about')}}">About Us</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link ps-sm-auto ps-2 dropdown-toggle active" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Login</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{url_for('employer.employer_login')}}">Employer</a></li>
            <li><a class="dropdown-item" href="{{url_for('applicant.applicant_login')}}">Applicant</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{url_for('admin.admin_login')}}">Admin</a></li>
        </ul>
    </li>
{% endblock %}

{% block container %}

    <section class="hero-form-section bg-light">
        <div class="container-fluid bg-teal-lgrad text-light py-3">
            <h2 class="text-center">Employer Login</h2>
            <div class="d-flex py-3">
                <div class="mx-auto d-sm-flex text-light bg-secondary align-items-center justify-content-between p-3">
                    <div class="me-sm-5">
                        <h4 class="text-white m-0">Not Registered?</h4>
                        <p class="m-0">Manage your hiring process. Post jobs and get qualified applicants.</p>
                    </div>
                    <div class="sign-up-btn my-2">
                        <a href="{{url_for('employer.employer_signup')}}" class="btn btn-sm btn-brand peach text-light px-4">Sign Up <i class="fa fa-sign-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="form-section" class="pb-5 bg-light">
        <div class="container">
            <div class="d-flex">
                <div class="form-ctn mx-auto">
                    <form class="bg-white px-4 py-5" method="POST" action="">
                        <!-- cross site request forgery token -->
                        {{form.hidden_tag()}}
                        <div class="h-hr">
                            <h4 class="h">Login</h4>
                            <span class="hr"></span>
                        </div>
                        <div class="">
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.email.errors %}
                                        {{form.email(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.email(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.email.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.password.errors %}
                                        {{form.password(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.password(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.password.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-check">
                                <div class="mb-4">
                                    <!-- Checkbox -->
                                    {{form.remember(class="form-check-input")}}
                                    <!-- Checkbox label -->
                                    {{form.remember.label(class="form-check-label")}}
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <!-- submit button  -->
                            {{form.submit(class="btn btn-brand prim text-light d-inline px-4")}}
                            <small class="text-muted">
                                <a class="ms-3 t-prim" href="{{ url_for('employer.password_reset_request') }}">Forgot Password?</a>
                            </small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block script %}{% endblock %}