{% extends 'base.html' %}

{% block container %}

    <section class="py-3 bg-light min-vh">
        <div class="container ">
            <h3 class="text-light prim my-3 p-3">Account Activities</h3>
            <a href="{{ url_for('jobs.job_list') }}" class="btn btn-sm btn-brand peach my-2 text-light">Find Jobs</a>

            <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-2">
                <div class="col">
                    <a href="{{ url_for('applicant.jobs_applied') }}" class="admin-card users-card">
                        <div class ="views">
                            <div class ="no">{{ jobs|length }}</div>
                            <div class ="name">Jobs Applied</div>
                        </div>
                        <div class ="icon-box">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="{{ url_for('applicant.shortlisted_jobs') }}" class="admin-card  users-card">
                        <div class ="views">
                            <div class ="no">{{ shortlists|length }}</div>
                            <div class ="name">Shortlisted Jobs</div>
                        </div>
                        <div class ="icon-box">
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <!-- <div class="col">
                    <a href="{{ url_for('admin.admin_companies') }}" class="admin-card  users-card">
                        <div class ="views">
                            <div class ="no">5</div>
                            <div class ="name">Notifications</div>
                        </div>
                        <div class ="icon-box">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                        </div>
                    </a>
                </div> -->
                
            </div>
        </div>
    </section>

{% endblock %}
{% block script %}{% endblock %}