{% extends 'base.html' %}

{% block navMenus %}
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto align-items-center">
            <li>
                <a class="nav-link" id="home" href="{{url_for('main.home')}}">Home</a>
            </li>
            <li>
                <a class="nav-link" id="home" href="{{url_for('jobs.job_list')}}">Jobs</a>
            </li>
            <li>
                <a class="nav-link" id="home" href="{{url_for('employer.company_list')}}">Companies</a>
            </li>
            <li>
                <a class="nav-link" id="home" href="{{url_for('main.about')}}">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Login</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{url_for('employer.employer_login')}}">Employer</a></li>
                    <li><a class="dropdown-item" href="{{url_for('applicant.applicant_login')}}">Applicant</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{{url_for('admin.admin_login')}}">Admin</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle d-block btn btn-sm btn-brand peach text-light ms-md-3" href="#"
                    id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Register</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('employer.employer_signup')}}">Employer</a>
                    <a class="dropdown-item" href="{{url_for('applicant.applicant_signup')}}">Applicant</a>
                </div>
            </li>
        </ul>
    </div>     
{% endblock %}

{% block container %}

    <section class="hero-form-section bg-light">
        <div class="container-fluid prim text-light py-3">
            <h2 class="text-center">Applicant Registration</h2>
            <div class="d-flex py-3">
                <div class="mx-auto d-sm-flex text-light bg-secondary align-items-center justify-content-between p-3">
                    <div class="me-sm-5">
                        <h4 class="">Have an Account?</h4>
                        <p class="m-0">Login to your account if you're already registered.</p>
                    </div>
                    <div class="sign-up-btn my-2">
                        <a href="{{url_for('applicant.applicant_login')}}" class="btn btn-sm btn-brand peach text-light px-4">Log In <i class="fa fa-sign-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="form-section" class="pb-5 bg-light">
        <div class="container">
            <div class="d-flex">
                <div class="form-ctn-100 mx-auto w-100 py-4">
                    <form class="bg-white px-4 py-5 rad-3 border" method='POST' action="" enctype="multipart/form-data">
                        <!-- cross site request forgery token -->
                        {{form.hidden_tag()}}
                        <div class="h-hr">
                            <h4 class="h">Create Account</h4>
                            <span class="hr"></span>
                        </div>
                        <div class="row row-cols-md-2 row-cols-1">
                            
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.f_name.errors %}
                                        {{form.f_name(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.f_name.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.f_name(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.f_name.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.l_name.errors %}
                                        {{form.l_name(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.l_name.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.l_name(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.l_name.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.email.errors %}
                                        {{form.email(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.email(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.email.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.phone.errors %}
                                        {{form.phone(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.phone.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.phone(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.phone.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.password.errors %}
                                        {{form.password(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.password(class="form-control")}}
                                    {% endif %}
                                    <div id="pwd-info"></div>
                                    <!-- input label -->
                                    {{form.password.label(class="form-control-label")}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.confirm_password.errors %}
                                        {{form.confirm_password(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_password.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.confirm_password(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.confirm_password.label(class="form-label")}}
                                </div>
                            </div>
                            <div class="form-group form-file-group">
                                <div class="field-ctn">
                                    <!-- Resume file field -->
                                    {{form.resume.label(class="form-label")}}
                                    {{form.resume(class="form-control form-control-sm")}}
                                    {% if form.resume.errors %}
                                        {% for error in form.resume.errors %}
                                            <span class="text-danger">{{error}}</span><br>
                                        {% endfor %}
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group form-file-group">
                                <div class="field-ctn">
                                    <!-- image file field -->
                                    {{form.image.label(class="form-label")}}
                                    {{form.image(class="form-control form-control-sm")}}
                                    {% if form.image.errors %}
                                        {% for error in form.image.errors %}
                                            <span class="text-danger">{{error}}</span><br>
                                        {% endfor %}
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                        <div class="d-flex align-items-center">
                            <!-- submit button  -->
                            {{form.submit(class="btn btn-brand prim text-light d-inline px-4")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block script %}
    <script>
        checkPwd()
    </script>
{% endblock %}