.cust-navyBlue{
    background-color: #3776AB;
}
.text-navyBlue{
    color: #2a618e;
}
.text-gold{
    color: #cb740a;
}
.oracom-logo{
    width: 50px;
    position:relative;
}
.oracom-logo img{
    width: 100%;
    display:block;
}
.bg-dradSilver{
    background: linear-gradient(90deg, #e9edf1, #d0dae2);
}
.bg-opacity{
    background: rgba(0, 0, 0, 0.2);
}