
html[data-theme="dark"]{
    --light:#222831;
	--lighter:#2F343D;
	--white:#393E46;
    --dark: #DDE1E4;
    --faint-light: rgba(255, 255, 255, 0.15);
}
body{
    background: var(--light);
}

.admin-container{
    position:relative;
    width:100%;
    --nav-width: 250px;
    color: var(--dark);
}
.admin-nav{
    position:fixed;
    width: var(--nav-width);
    height:100%;
    transition:.5s ease;
    overflow:hidden;
    overflow-y:auto;
    background:var(--white);
}
 .admin-nav.active{
    width:2.5rem;
 }

.admin-nav .container{
    padding:0;
}
.admin-nav .container a{
    color: var(--dark);
}
.admin-nav a{
    display: block;
    position:relative;
    width:100%;
    padding:8px 0; 
    white-space:nowrap;
}
.admin-nav .admin-nav-logo{
    text-align: center;
    font-size: 1.5rem;
}
.admin-nav .admin-nav-logo img{
    width:2.5rem;
}

.admin-nav .admin-user-ctn {
    background: var(--lighter);
    box-shadow:0 0 0 1px var(--faint-light);
    padding:12px 0;
    margin-bottom: 8px;
    height: 140px;
    transition: .5s all ease;
}
.admin-nav.active .admin-user-ctn {
    box-shadow: none;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: .5s all ease;
    
}
.admin-nav .admin-user-ctn p {
    font-weight: 500;
    white-space:nowrap;
}
.admin-nav .theme-toggler{
    display: inline-flex;
    align-items: center;
}
.admin-nav .theme-toggler .fa{
    width: 16px;
}
.theme-toggler #check{
	width:0;
	height:0;
	visibility:hidden;
}
.theme-toggler label{
	width:30px;
	height:14px;
    margin: 0;
	background: var(--dark);
	border-radius:20px;
	position:relative;
	overflow:hidden;
	transition:.3s ease;
}
html[data-theme="dark"] .theme-toggler label{
	background: var(--prim);

}
.theme-toggler label:before { 
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
    background:var(--lighter);
    border-radius: 20px;
    transition: 0.3s ease;
}

.theme-toggler input:checked + label:before {
    left: calc(100% - 13px);
}
.theme-toggler label:active:before {
    width: 20px;
}
.theme-toggler input:checked + label:active:before {
    width: 20px;
    left: calc(100% - 20px);
}

.admin-nav a.admin-nav-item.active,
.admin-nav a.admin-nav-item:hover{
    background:var(--lighter); 
    box-shadow: inset 2px 0 0 var(--prim),
                0 0 0 1px var(--faint-light);
}
.admin-nav a.admin-nav-item:active,
.admin-nav.active a.admin-nav-item:active{
    background:var(--prim); 
    color: var(--light);
}
html[data-theme="dark"] .admin-nav a.admin-nav-item:active,
html[data-theme="dark"] .admin-nav.active a.admin-nav-item:active{
    color: var(--dark);
}

html[data-theme="dark"] .admin-nav a.admin-nav-item.active,
html[data-theme="dark"] .admin-nav a.admin-nav-item:hover{
    box-shadow: inset 2px 0 0 var(--peach),
                0 0 0 1px var(--faint-light);
}

.admin-nav a .fa{
    padding:0 .625rem;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.admin-nav.active a .fa{
    font-size: 1rem;
    width: 2.5rem;
}

.admin-main{
    position:absolute;
    width:calc(100% - var(--nav-width));
    height: 100%;
    min-height:100vh;
    overflow-x:hidden;
    background:var(--light);
    left:var(--nav-width);
    transition:.5s ease;
}
.admin-main.active{
    width:calc(100% - 2.5rem);
    left:2.5rem;
    overflow-x:hidden;
}
.admin-main .admin-nav-toggler {
    cursor:pointer;
    padding:4px 8px;
    font-size:1.2rem;
    color:var(--dark);
    
}
.admin-main .admin-top-bar{
    position:fixed;
    width:calc(100% - var(--nav-width));
    padding:8px 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background: var(--lighter);
    transition: .5s ease;
    z-index:100;
}
.admin-main .admin-top-bar a{
    color: var(--dark);
}
.admin-main.active .admin-top-bar{
    position:fixed;
    width:calc(100% - 2.5rem);
}

.admin-search-box{
    position:relative;
    width:100%;
    max-width: 400px;
}
.admin-search-box form span{
    position:relative;
    width:100%;
    text-align:center;
}
.form-ctn form,
.form-ctn-100 form{
    width: 100%;
}
.admin-search-box form span .fa{
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    padding:7px;
    color:var(--dark);
    cursor:pointer;
}
.admin-search-box form span input{
    outline:none;
    border-radius:20px;
    padding:4px;
    padding-left:35px;
    border:none;
    box-shadow:0 0 0 1px var(--faint-light);
    background:var(--white);
    color:var(--dkcol1);
    width:100%;
}

.admin-content-box{
    position:relative;
    top: 52px;
    min-width:100%;
}
.admin-content-box .content{
    overflow: hidden;
}

.bg-c-lighter{
    background: var(--lighter);
}
.bg-c-light{
    background: var(--light);
}
.admin-container form .form-group input,
.admin-container form .form-group textarea,
.admin-container form .form-group input:focus,
.admin-container form .form-group textarea:focus,
.admin-container form .form-group select,
.admin-container form .form-group select:focus,
.admin-container form .form-group label{
    background: var(--white);
    color: var(--dark);
}

.modal-header,
.table tr th,
.table tr td{
    border-bottom: 1px solid var(--faint-light);
}
.modal-footer{
    border-top: 1px solid var(--faint-light);
}

 .table tr:hover > th,
 .table tr:hover > td{
    color: var(--dark);
}