{% extends 'base.html' %}

{% block logged_applicant %}
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.home')}}">Account</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2 active" href="{{url_for('jobs.job_list')}}">Jobs</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('applicant.jobs_applied')}}">Jobs Applied</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('employer.company_list')}}">Companies</a>
    </li>
{% endblock %}
                          
{% block logged_out %}
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.home')}}">Home</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2 active" href="{{url_for('jobs.job_list')}}">Jobs</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('employer.company_list')}}">Companies</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.about')}}">About Us</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link ps-sm-auto ps-2 dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Login</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{url_for('employer.employer_login')}}">Employer</a></li>
            <li><a class="dropdown-item" href="{{url_for('applicant.applicant_login')}}">Applicant</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{url_for('admin.admin_login')}}">Admin</a></li>
        </ul>
    </li>
{% endblock %}

{% block container %}

{% include 'job-search.html' %}

{% if jobs.page == 1 %}
    <section id="job-categories" class="bg-light py-5">
        <div class="container">
            <div class="p-3 mb-2 d-flex align-items-center">
                <p class="h2">Top Job Categories</p>
                <a href="{{ url_for('jobs.categories') }}" class="btn btn-sm prim btn-brand text-light ms-auto "> View All</a>
            </div> 
            
            <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1 g-2">
                
                {% if categories %}
                    {% for category in categories[:4] %}
                        <div class="col">
                            <a href="{{ url_for('jobs.filtered', category=category) }}" class="admin-card category-card bg-white border d-block p-3 ">
                                <p class="h6"><i class="fa fa-tags me-2 t-prim"></i> {{category}}</p>
                                <div class="category-img-box">
                                    <div class ="image-box my-3">
                                        <img class="rounded-circle" src="{{url_for('static', filename='img/job_search.png')}}" alt="">
                                    </div>
                                    
                                    <div class ="views">
                                        <p class="h5 m-0 p-0">{{ filtered.filter_by(category=category).all() | length
                                        }}</p>
                                        <small class="text-muted p-0 m-0" >Total Jobs</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No available Job Categories</p>
                {% endif %}
                
            </div>
        </div>
    </section>
{% endif %}

<section id="jobs-list" class="bg-light py-5">
    <div class="container">
        <div class="section-header">
            <h2 class="">Recent Jobs</h2>
        </div>
        
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-2">
            {% if jobs %}
                {% for job in jobs.items %}
                    <div class="col">
                        <div class="bg-white border p-3 jobs-card h-100">
                            <div class="d-flex">
                                <div class="">
                                    <a href="{{ url_for('employer.profile', company_id=job.company.id) }}" class="profile-img-ctn prof-sm">
                                        <img src="{{ url_for('static', filename='employer/logo/' + job.company.logo) }}" alt="">
                                    </a>
                                </div>
                                <div class="w-100 ms-2">
                                    <div class="border-bottom d-flex align-items-center">
                                        <small class="text-muted"><i class="fa fa-calendar t-prim"></i> {{ job.date_posted.strftime("%d %b, %Y") }}</small>

                                        {% if current_user.is_authenticated and current_user.applicants and job in current_user.applicants.applied_jobs %}
                                            <span class="text-success ms-auto">Applied <i class="fa fa-check-square-o"></i></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <h3 class="d-block text-dark m-0">{{ job.title }}</h3>
                                <p class="text-muted"><i class="fa fa-map-marker t-prim"></i> {{ job.company.location }}</p>
                                <p class="d-flex m-0 align-items-end">


                                    {% if job.salary %}
                                        <small><i class="fa fa-money t-prim"></i> KSh. {{ job.salary | numberFormat}}</small>
                                    {% else %}
                                        <small><i class="fa fa-money t-prim"></i> KSh. Not Specified</small>
                                    {% endif %}


                                    <a href="{{ url_for('jobs.profile', job_id=job.id) }}" class="btn btn-sm btn-brand prim text-light ms-auto">{{ job.type }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No Posted Jobs yet. Check later.</p>
            {% endif %}
        </div>
        {% if jobs.total > jobs.per_page %}
            {% for page_num in jobs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if jobs.page == page_num %}
                        <a href="{{ url_for('jobs.job_list', page=page_num) }}" class="btn btn-sm btn-primary my-3">{{ page_num }}</a>
                    {% else %}
                        <a href="{{ url_for('jobs.job_list', page=page_num) }}" class="btn btn-sm btn-outline-primary my-3">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock %}
{% block script %}{% endblock %}