{% extends 'base.html' %}

{% block logged_applicant %}
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.home')}}">Account</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2 active" href="{{url_for('jobs.job_list')}}">Jobs</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('applicant.jobs_applied')}}">Jobs Applied</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('employer.company_list')}}">Companies</a>
    </li>
{% endblock %}
                          
{% block logged_out %}
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.home')}}">Home</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2 active" href="{{url_for('jobs.job_list')}}">Jobs</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('employer.company_list')}}">Companies</a>
    </li>
    <li>
        <a class="nav-link ps-sm-auto ps-2" href="{{url_for('main.about')}}">About Us</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link ps-sm-auto ps-2 dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Login</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{url_for('employer.employer_login')}}">Employer</a></li>
            <li><a class="dropdown-item" href="{{url_for('applicant.applicant_login')}}">Applicant</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{url_for('admin.admin_login')}}">Admin</a></li>
        </ul>
    </li>
{% endblock %}

{% block container %}

<section id="job-profile" class="bg-light py-3 min-vh">
    <div class="container">
        <h4 class="bg-teal-lgrad text-light p-3 my-3 mb-4">Job Details for {{ job.title.capitalize() }}</h4>
        <div class="row row-cols-1 g-3">
            <div class="col">
                <div class="bg-white p-3 border">
                    <div class="d-flex">
                        <div>
                            <a href="{{ url_for('employer.profile', company_id=job.company.id) }}" class="profile-img-ctn">
                                <img src="{{ url_for('static', filename='employer/logo/' + job.company.logo) }}" alt="">
                            </a>
                        </div>
                        <div class="ps-3 w-100">
                            <div class="border-bottom mb-1">
                                <a href="{{ url_for('employer.profile', company_id=job.company.id) }}" class="text-bold">
                                    {{ job.company.name.capitalize() }}
                                </a>
                                <small class="text-muted"><i class="fa fa-calendar t-prim"></i> Posted {{ job.date_posted.strftime("%d %b, %Y") }}</small>
                            </div>
                            <div class="m-0 h2 text-dark">{{ job.title }}</div>
                            <p class="text-muted m-0"><i class="fa fa-map-marker t-prim"></i> {{ job.company.location }}</p>
                        </div>
                    </div>
                    <div>
                        <div class="my-5 d-flex align-items-center">
                            <div class="border-end  pe-4 py-2">
                                <p class="text-muted m-0">
                                    <span><i class="fa fa-puzzle-piece t-prim"></i> Job Category</span>
                                </p>
                                <p class="text-bold">{{ job.category }}</p>
                            </div>
                            <div class="ps-4 py-2 ">
                                <p class="text-muted m-0">
                                    {% if job.salary %}
                                        <span><i class="fa fa-money t-prim"></i> KSh. {{ job.salary | numberFormat}}</span>
                                    {% else %}
                                        <span><i class="fa fa-money t-prim"></i> KSh. Not Specified</span>
                                    {% endif %}
                                </p>
                                <p class="text-bold">{{ job.type }}</p>
                            </div>
                        </div>
                        <h4 class="t">Job <b>Description</b></h4>
                        <p>
                            {{ job.description }}
                        </p>
                        {% if current_user.is_authenticated and current_user.applicants and job in current_user.applicants.applied_jobs %}
                            <a href="#" class="btn btn-sm btn-success disabled text-light d-sm-inline-block d-block px-5">Applied <i class="fa fa-check-square-o"></i></a>
                            {% if query.filter_by(applicant_id=current_user.applicants.id).first()[0] %}
                                <span class="text-success ms-2">Shortlisted</span>
                            {% else %}
                                <span class="text-warning ms-2">Pending</span>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('applicant.apply_for_job', job_id=job.id) }}" class="btn btn-sm btn-brand prim text-light d-sm-inline-block d-block">Send Application</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block script %}{% endblock %}