<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% include 'mail-styles.html' %}
</head>
<body>
    <div class="ctn">
		<div class="top">
			<div class="logo">
                <h2>Ora<span>Jobs</span></h2>
				<span class="img-ctn"><img src="{{ img }}" alt=""></span>
			</div>
		</div>
		<div class="main">
			<h2 class="h2">Password Reset</h2>
			<p>Hello {{ name}},</p>
			<p>
				We heard that you lost your OraJobs password. Sorry about that!
				You can use the following button to reset your password:<br>
				<a href="{{ link }}" target="_blank" class="btn" >Reset Password</a>
			</p>
			<p>This link will expire in 30 minutes. To get a new Password Reset link, visit:
			<a href="{{ resend }}" >Request Password Reset </a></p>
			<p>
				Thanks,<br>
				The OraJobs Team.
			</p>
		</div>
		<div class="foot">
			<p class="text-muted m-0"><small>If you did not request for password reset for your account, kindly ignore this email.</small></p>
		</div>
	</div>
</body>
</html>