
{% extends 'base.html' %}


{% block container %}
    <section class="hero-form-section bg-light">
        <div class="container-fluid bg-teal-lgrad text-light py-3">
            <h2 class="text-center">Password Reset</h2>
            <div class="d-flex py-3">
                <div class="mx-auto d-sm-flex text-light bg-secondary align-items-center justify-content-between p-3">
                    <div class="me-sm-5">
                        <h4 class="">Forgot Password? </h4>
                        <p class="m-0">
                            Enter your account's verified email address. A password reset link will be sent to your email.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="form-section" class="pb-5 bg-light ">
        <div class="container">
            <div class="d-flex">
                <div class="form-ctn mx-auto">
                    <form class="bg-white px-4 py-5" method="POST" action="">
                        <!-- cross site request forgery token -->
                        {{form.hidden_tag()}}
                        <div class="h-hr">
                            <h4 class="h">Reset Password</h4>
                            <span class="hr"></span>
                        </div>
                        <div class="">
                            <div class="form-group">
                                <div class="field-ctn">
                                    <!-- input validation -->
                                    {% if form.email.errors %}
                                        {{form.email(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.email(class="form-control")}}
                                    {% endif %}
                                    <!-- input label -->
                                    {{form.email.label(class="form-control-label")}}
                                </div>
                            </div>                           
                        </div>
                        <div class="">
                            <!-- submit button  -->
                            {{form.submit(class="btn btn-brand prim text-light d-inline px-4")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block script %}{% endblock %}