{% extends 'base.html' %}
{% block container %}

<!-- Landing Section -->
<section id="hero" class="g-light text-center text-sm-start mb-5">
    <div class="container ">
        <div class="d-sm-flex hero-zlayer align-items-center justify-content-around position-relative">
            <div class="w-sm-50 pt-4 pt-sm-auto px-4 px-sm-0">
                <h1 class="h1-1 "><b>Your Dream Job</b></h1>
                <h1 class="t-prim h1-2"><b>
                    <span style="--i:0">O</span><span style="--i:1">u</span><span style="--i:2">r</span><span style="--i:9">&nbsp;</span><span style="--i:3">P</span><span style="--i:4">r</span><span style="--i:5">i</span><span style="--i:6">o</span><span style="--i:7">r</span><span style="--i:8">i</span><span style="--i:10">t</span><span style="--i:11">y</span><span style="--i:12">.</span><span style="--i:13">.</span><span style="--i:14">.</span>
                </b></h1>
                <p class="py-2">We help you find the job you love.
                    <br>Discover your career path with us.
                </p>
                <div class="d-sm-flex">
                    <a class="btn btn-brand peach d-block w-100 me-2 my-2 my-sm-auto" href="{{url_for('applicant.applicant_signup')}}">Get Started</a>
                    <a class="btn btn-outline-dark d-block w-100" href="{{url_for('jobs.job_list')}}" >View Jobs</a>
                </div>

            </div>
            <img class="img-fluid w-50 hero-img" src="{{url_for('static', filename='img/hero.png')}}" alt="Oracom">
        </div>
    </div>
</section>
<!-- Landing Section -->

<!-- Main Section -->
<section id="drive" class="section-padding text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2>Why Choose Us</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
            <div class="col">
                <div class="card">
                    <span class="card-icon"><i class="fa fa-star"></i></span>
                    <div class="card-text">
                        <h3>Best Online Solutions</h3>
                        <p>Working with parastatals, Large Companies and SMEs to individuals to produce top notch web
                            solutions</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <span class="card-icon"><i class="fa fa-modx"></i></span>
                    <div class="card-text">
                        <h3>Creative</h3>
                        <p>Highly creative web experts who share and implement ideas to produce masterpiece projects</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <span class="card-icon"><i class="fa fa-cubes"></i></span>
                    <div class="card-text">
                        <h3>Research & Innovation</h3>
                        <p>Priviledged to have been listed amongst entreprenurship companies at the GES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="guide" class="section-padding py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2>How We Serve You</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-image">
                        <div class="card-image-overlay">
                            <a class="btn btn-sm btn-brand peach text-light" href="{{url_for('applicant.applicant_signup')}}" role="button">
                                Start Now <i class="fa fa-arrow-right ms-2"></i>
                            </a>
                        </div>
                        <img src="{{url_for('static', filename='img/fmale.png')}}" alt="">
                    </div>
                    <div class="card-text">
                        <h3>Create an Account</h3>
                        <p>
                            Sign up by creating an account with required details and begin your job hunt.
                        </p>
                        <a class="btn btn-sm btn-brand prim text-light" href="{{url_for('applicant.applicant_signup')}}" role="button">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-image">
                        <div class="card-image-overlay">
                            <a class="btn btn-sm btn-brand peach text-light" href="{{url_for('jobs.job_list')}}" role="button">
                                Start Now <i class="fa fa-arrow-right ms-2"></i>
                            </a>
                        </div>
                        <img class="" src="{{url_for('static', filename='img/manFmale.png')}}" alt="">
                    </div>
                    <div class="card-text">
                        <h3>Search Desired Jobs</h3>
                        <p>
                            Browse our database of job opportunities from various companies. Narrow down by adding filters to your search.
                        </p>
                        <a class="btn btn-sm btn-brand prim text-light" href="{{url_for('jobs.job_list')}}" role="button">
                            Browse Jobs
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-image">
                        <div class="card-image-overlay">
                            <a class="btn btn-sm btn-brand peach text-light" href="{{url_for('applicant.applicant_login')}}" role="button">
                                Start Now <i class="fa fa-arrow-right ms-2"></i>
                            </a>
                        </div>
                        <img src="{{url_for('static', filename='img/hop.jpg')}}" alt="">
                    </div>
                    <div class="card-text">
                        <h3>Send Your Application</h3>
                        <p>
                             Forward your updated resume to the optimal employers and gear up for the recruitment.
                        </p>
                        <a class="btn btn-sm btn-brand prim text-light" href="{{url_for('applicant.applicant_login')}}" role="button">
                            Apply for Jobs
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="employer" class="g-light text-center text-sm-start py-5">
    <div class="container">
        <div class="row m-auto mb-5">
            <div class="row m-0 p-0">
                <div class="col-lg-6 col-md-6 col-12 pe-3 mb-3">
                    <h2 class=" ">Are You an Employer? </h2>
                    <p>
                        We are here to help you manage your hiring process.
                        Improve your public profile, post jobs and connect with quality applicants.
                    </p>
                    <a class="btn btn-brand peach px-4 py-2 text-light" href="{{url_for('employer.post_jobs')}}" role="button">
                        Post a Job
                    </a>
                </div>

                <div class="col-lg-6 col-md-6 col-12 image-ctn bg-light mb-3 reflect-px">
                    <img class="" src="{{url_for('static', filename='img/man.jpg')}}" alt="">
                </div>
            </div>
        </div>
        <div class="section-header">
            <h2 class=" ">Manage Your Hiring Process </h2>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3 text-center">
            <div class="col">
                <div class="card">
                    <span class="card-icon"><i class="fa fa-address-card-o"></i></span>
                    <div class="card-text">
                        <h3>Register</h3>
                        <p>
                            Create an account with us to begin your hiring process.
                        </p>
                        <a class="btn btn-sm btn-brand peach text-light" href="{{url_for('employer.employer_signup')}}" role="button">
                            Register
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <span class="card-icon"><i class="fa fa-thumb-tack"></i></span>
                    <div class="card-text">
                        <h3>Post Jobs</h3>
                        <p>
                           Jumpstart your hiring by inviting candidates to apply for posted job opportunities.
                        </p>
                        <a class="btn btn-sm btn-brand peach text-light" href="{{url_for('employer.post_jobs')}}" role="button">
                            Post a Job
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <span class="card-icon"><i class="fa fa-users"></i></span>
                    <div class="card-text">
                        <h3>Find Candidates</h3>
                        <p>
                           Shortlist applicants whose resumes meet your job requirements.
                        </p>
                        <a class="btn btn-sm btn-brand peach text-light" href="{{url_for('employer.candidates')}}" role="button">
                            Find Applicants
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>    
</section>
<!-- Main Section -->

{% endblock %}