<section id=" " class="">
    <div class="container-fluid bg-teal-lgrad text-light text-center py-3">
        <h2 class="m-0">Find Jobs!!!</h2>
        <div class="d-flex py-3">
            <div class="mx-auto text-light bg-secondary px-5 py-3">
                <form class="my-2 search-form" action="{{ url_for('jobs.job_search') }}" method="post">
                    {{ form1.hidden_tag() }}
                    <input type="text" placeholder="Job Title/Category" class="d-block d-sm-inline" name="title" required>
                    <input type="text" name="location" placeholder="Location" class="d-block d-sm-inline my-2 ms-sm-1">
                    <button type="submit" class="btn btn-sm btn-brand peach text-light px-3 d-block d-sm-inline ms-sm-1"> <i class="fa fa-search"></i> Search </button>
                </form>
            </div>
        </div>
    </div>
</section>