<style type="text/css">
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;

	}

	body {
		font-family: sans-serif;
	}
	.tbl {
		width: 100%;
		border: 1px solid rgba(0, 0, 0, 0.15);
		margin-bottom: 20px;
	}

	.tbl tr:nth-child(even){
	    background: #eee;
	}

	.tbl tr td,
	.tbl tr th {
		padding: 5px;
		text-align: left;
		border: 1px solid rgba(0, 0, 0, 0.15);
	}

	.ctn {
		color: #212529;
	}

	.top {
		padding: 8px 16px;
		position: relative;
	}

	.top .logo {
		display: flex;
		height: auto;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		background: linear-gradient(135deg, #f8f9fa 75%, #fab36b 75%);
		border: 1px solid #abc;
		border-radius: 50px;
		padding: 8px 16px;
	}

	.top .img-ctn {
		width: 40px;
		position: relative;
	}

	.top .img-ctn img {
		width: 100%;
		display: block;
	}

	.top h2 span {
		color: #4d91ff;
	}

	.main {
		width: 100%;
		padding: 30px 16px;
	}

	a.btn {
		background: #4d91ff;
		color: #f8f9fa;
		display: inline-block;
		padding: 6px 8px;
		border-radius: 3px;
		border: solid 1px rgba(0, 0, 0, 0.15);
		border-bottom: solid 2px rgba(0, 0, 0, 0.15);
		margin: 8px 0;
	}

	a {
		color: #4d91ff;
		text-decoration: none;
	}

	.h2 {
		text-align: center;
		padding: 8px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}

	p,
	.h2 {
		margin-bottom: 16px;
	}

	.text-muted {
		color: #6c6d6f;
	}

	

	.ctn .foot {
		width: 100%;
		text-align: center;
		background: #f8f9fa;
		padding: 8px 16px;
		border-top: 1px solid rgba(0, 0, 0, 0.15);
	}

	.m-0 {
		margin: 0;
	}

</style>