{% extends 'base.html' %}
{% block container %}
    
    <div class="container-fluid position-relative bg-dradSilver px-0">
        <div class="position-absolute bg-opacity h-100 w-100">
            <div class="container bg-dark">
                <!-- <div class="col-sm-12 my-auto bg-secondary">
                    <h1 class="text-navyBlue"><b>Your Dream Job,</b></h1>
                    <h1 class="text-navyBlue"><b>Your Dream Employer,</b></h1>
                    <h1 class="text-gold"><b>Our Priority...</b></h1>
                </div> -->
            </div>
        </div>
        <img class="img-fluid mx-auto d-block " src="{{url_for('static', filename='img/landing.png')}}" alt="Oracom">
    </div> 
    <div class="container">
        <h1>My First Bootstrap Page</h1>
        <p>This is some text.</p>
    </div> 
{% endblock %}
