{% extends 'base.html' %}
{% block container %}

<section id="hero" class="g-light text-center text-sm-start">
    <div class="container ">
        <div class="d-sm-flex hero-zlayer align-items-center justify-content-around position-relative">
            <div class="w-sm-50 pt-4 pt-sm-auto px-4 px-sm-0">
                <h1 class="fw-bold"><b>Your Dream Job</b></h1>
                <h1><b><span class="t-prim">Our Priority...</span></b></h1>
                <p class="py-2">We help you find the job you love.
                    <br>Discover your career path with us.
                </p>
                <div class="d-sm-flex">
                    <button class="btn btn-brand peach d-block w-100 me-2 my-2 my-sm-auto">Get Started</button>
                    <button class="btn btn-outline-dark d-block w-100">View Jobs</button>
                </div>

            </div>
            <img class="img-fluid w-50" src="{{url_for('static', filename='img/hero.png')}}" alt="Oracom">
        </div>
    </div>
</section>
<section id="drive" class="section-padding py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2>Why Choose Us</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
            <div class="col">
                <div class="card">
                    <span class="card-icon"></span>
                    <h3>Best Online Solutions</h3>
                    <p>Working with parastatals, Large Companies and SMEs to individuals to produce top notch web solutions</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <span class="card-icon"></span>
                    <h3>Creative</h3>
                    <p>Highly creative web experts who share and implement ideas to produce masterpiece projects</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <span class="card-icon"></span>
                    <h3>Research & Innovation</h3>
                    <p>Priviledged to have been listed amongst entreprenurship companies at the GES</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="guide" class="section-padding py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2>How We Serve You</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
            <div class="col">
                <div class="card">
                    <img src="{{url_for('static', filename='img/oracom.png')}}" alt="">
                    <h3>Best Online Solutions</h3>
                    <p>Working with parastatals, Large Companies and SMEs to individuals to produce top notch web solutions</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{{url_for('static', filename='img/oracom.png')}}" alt="">
                    <h3>Creative</h3>
                    <p>Highly creative web experts who share and implement ideas to produce masterpiece projects</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{{url_for('static', filename='img/oracom.png')}}" alt="">
                    <h3>Research & Innovation</h3>
                    <p>Priviledged to have been listed amongst entreprenurship companies at the GES</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}