{% extends 'base.html' %}
{% block container %}

<section id="hero" class="g-light text-center text-sm-start">
    <div class="container ">
        <div class="d-sm-flex hero-zlayer align-items-center justify-content-around position-relative">
            <div class="w-sm-50 pt-4 pt-sm-auto px-4 px-sm-0">
                <h1 class="fw-bold"><b>Your Dream Job<br>
                        <span class="t-peach">Our Priority...</span></b></h1>
                <p class="py-2">
                    Job serching made easy.
                    We help you find a better job.<br>
                    Discover your career path with us.
                </p>
                <div class="d-sm-flex">
                    <button class="btn btn-brand peach d-block w-100 me-2 my-2 my-sm-auto">Get Started</button>
                    <button class="btn btn-outline-dark d-block w-100">View Jobs</button>
                </div>
                
            </div>
            <img class="img-fluid w-50" src="{{url_for('static', filename='img/hero.png')}}" alt="Oracom">
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1>What We Do</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quos provident dicta, autem vitae
            consequatur ratione aspernatur minima repellendus est soluta vero suscipit voluptates aliquam sint,
            recusandae doloremque cumque? Quidem id quos accusantium, natus saepe veritatis laborum facilis ad quod
            aliquid voluptas. Excepturi at impedit maiores et? Quia eius, laboriosam pariatur neque ullam qui nobis
            voluptas? Maxime, itaque. Fugit amet at eius ullam exercitationem vitae neque voluptas in alias quasi? Alias
            quas et, praesentium saepe numquam nihil id esse fugiat quaerat, dolorum neque eaque minus accusamus
            molestias rerum! Quo vel, id maxime mollitia, sint tempora totam est voluptatem placeat fugiat accusantium
            esse recusandae omnis! Enim temporibus sint atque sit impedit. Qui, dolores facilis velit dolore sit
            repellendus vero perferendis totam exercitationem fuga tempore assumenda nihil alias, corrupti voluptas
            laboriosam vitae porro deserunt, pariatur officiis non repudiandae veniam! Quo, ullam dicta saepe dolor quis
            nihil sapiente laudantium libero expedita qui sit illo facere fuga molestiae non nemo! Nisi aut blanditiis
            tempore nulla! Alias distinctio fugiat repellendus eius, repellat aut vel rem aspernatur officia velit quia
            perspiciatis consequuntur porro non accusamus in veniam voluptate tempore temporibus corporis. Quae,
            necessitatibus cupiditate? Nobis perspiciatis fugit dicta, sint labore quia error non commodi praesentium
            sunt hic sit nihil consectetur, ab aliquid similique ducimus ea fugiat aut ullam corrupti? Nobis, cumque
            amet. Ratione rerum, accusantium quasi voluptatem dolorum totam adipisci enim dolores eum cupiditate at.
            Omnis aliquid commodi quod molestias, similique quas doloribus culpa maxime aperiam nihil mollitia nulla
            rerum inventore aliquam voluptate ducimus temporibus dolores enim doloremque voluptatum deserunt quae
            possimus sunt et? Et similique a eos. Assumenda dicta, illum non beatae voluptates, eos velit consectetur
            deserunt, nisi adipisci quam. Unde quidem laborum ut, eaque blanditiis earum velit. Corrupti hic excepturi
            adipisci incidunt dolorem quas minima maiores deleniti! Voluptates sequi explicabo, voluptas mollitia soluta
            dolores nulla. Modi minus sed magnam sint? Voluptas iste assumenda molestiae quod obcaecati iusto quam minus
            rem modi maiores officia consectetur harum labore cum mollitia, quia tempora illum eveniet dolorum iure id
            esse quidem? Cum aut veniam eligendi reiciendis, laborum aliquam, facere repudiandae assumenda id deserunt
            magni aspernatur! Voluptatibus rerum commodi eum sapiente vel? Quisquam natus id earum pariatur omnis, porro
            quae, amet iure voluptatem esse sequi dolore praesentium doloribus blanditiis eum itaque voluptate quasi.
            Iure odit enim facere sequi similique reprehenderit nobis ullam neque autem aspernatur, repudiandae nulla
            debitis blanditiis nihil quia ipsum eius? Velit vel iste ipsum deserunt maiores dolorum. Dolor repellat
            praesentium quae molestias, error architecto odio quam nostrum consectetur ullam aspernatur velit hic
            numquam, iste doloremque quisquam sequi! Deserunt, hic perferendis vitae asperiores nisi quisquam eligendi
            fuga rerum autem rem ratione in vel maxime quod a eum exercitationem explicabo blanditiis. Repudiandae
            beatae nam cumque magnam modi harum recusandae quos aperiam, itaque facilis quasi fugiat accusantium! Nisi
            in ut, ipsam quia ab enim exercitationem. Nemo, ducimus animi quasi ipsam quaerat vitae corporis? Ex
            perspiciatis minima modi nesciunt, consequuntur esse voluptates praesentium reiciendis tempora iusto
            officiis quam maiores quos dolor explicabo eaque pariatur! Quam corrupti fugit omnis nam quod explicabo
            delectus culpa odio neque nesciunt voluptates illum quo, est voluptatem itaque harum et ipsam earum eius
            placeat eum voluptatum provident dolorum at. Atque aut, quisquam, quos amet quaerat quas dolorem corrupti
            quo magni quam incidunt sapiente adipisci itaque veniam vitae rem facere praesentium quia similique? Quasi,
            nemo. Sequi omnis excepturi, debitis vero velit delectus et ullam error ducimus itaque a culpa odio, rerum
            quia nihil quos deleniti eum magnam non perspiciatis dolore. Adipisci dolores officiis expedita itaque
            provident quis iste sed mollitia laudantium eaque ut corporis debitis deleniti, temporibus natus modi
            doloremque nobis laboriosam sunt dolore eos ipsum. Nostrum, vero! Molestias magni odio quo quaerat. Quod ex
            officiis excepturi delectus, autem saepe pariatur, maxime, magni ab quis eius fugit sequi ullam voluptatum
            tenetur doloremque ipsam explicabo perspiciatis cupiditate! Tempora quaerat excepturi sed asperiores
            doloremque adipisci ut unde quidem ab commodi libero mollitia ipsam at, assumenda eum veniam dolor corrupti
            aliquid cupiditate molestias dolorum quis nulla obcaecati consectetur. Adipisci ab qui sequi, nemo iure
            vitae perspiciatis molestias exercitationem quas voluptate cumque tempora? Eius, animi rem? Voluptas, amet
            inventore doloribus dolores animi saepe nisi magnam omnis corporis ex quibusdam veritatis error doloremque
            ipsum, facere, nulla beatae. Error, voluptatum placeat. Unde ut nobis fugiat porro cumque, dignissimos
            dolorem deleniti repellat sint illo omnis explicabo quaerat, commodi consectetur culpa magni facilis minus
            placeat doloribus cupiditate et distinctio quidem perspiciatis ea! Maxime, hic voluptatum natus fuga atque
            dicta fugit accusantium. Atque debitis dolor officiis nostrum suscipit blanditiis alias, minima facilis
            dolores quo? Tempore, saepe ratione ea aperiam sequi ad optio dolore molestiae cupiditate possimus
            accusantium. Repellendus velit aut quod delectus in assumenda saepe repellat porro impedit ullam non nemo
            incidunt nihil consequuntur, unde enim explicabo deleniti tempore accusantium ut distinctio consectetur. Ex
            facilis, alias doloribus ea fugit officia quae qui nostrum magni accusantium quisquam, quaerat doloremque
            quibusdam, voluptatibus ipsam necessitatibus ratione incidunt odit atque ipsum enim? Libero explicabo
            accusantium ea? Id, porro. Voluptates officia illum sequi aperiam quae maiores, natus libero optio rerum at.
            Rerum quod at repudiandae quis numquam quisquam voluptatem fugiat magnam dolorum. Recusandae ex dolor atque
            hic natus explicabo nihil? Modi autem praesentium, beatae itaque molestiae reprehenderit earum veritatis!
            Unde quas earum temporibus maiores ratione expedita ullam tempore incidunt sequi minima nihil, cum quasi
            perspiciatis recusandae iste, illum aperiam eos, soluta neque architecto commodi harum! Natus consectetur
            similique culpa nemo vitae earum ipsam nam, ullam sit dolorem ex eos soluta et.</p>
    </div>
</section>

{% endblock %}