{% extends 'base.html' %}
{% block container %}

    <section class="vh-100">
        <div class="container d-flex align-items-center justify-content-center h-100">
            <div class="row g-3">
                <div class="col-6 bg-light">

                </div>
                <div class="col-6 text-center">
                    <h3 class=" t-peach">Who We Are</h3>
                    <p>
                        Web design company in Kenya, Canada and Belgium. We offer website design and web development services, graphic design, mobile apps development, domain and web hosting, bulk SMS, Internet Marketing,and photography and videography
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}